body{
 padding: 0;
 margin: 0;  
 background-color: #eff3f6;
}
.navBar{
    background-color: #fa6c0086;
    padding: 10px 10px;
}
.orongeColor{
    background-color: #fa6c0086;
}
.cart-container{
    padding: 5px 15px;
    box-shadow: 5px 5px 15px 0 rgb(199, 199, 199);

}