<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    {% include 'components/nav.html'%}

    <section class="mx-auto ">
      {% block content %}
      <h1 class="text-5xl font-bold">Welcome to The Best PC Parts Shop</h1>

      {% endblock %}
    </section>
  </body>
</html>
