{% extends 'Home.html' %}
{% block content %}
<div class="w-[80%] mx-auto mt-20">
    <div class="grid grid-cols-10 gap-3">
        <div class="col-span-4 ">
            <div class="w-[80%] object-cover rounded-lg shadow-xl">
                <img
                class="rounded-lg "
                src="{{ product.image.url  }}"
                alt="Product image"
                />
            </div>
        </div>
        <div class="col-span-5 space-y-6">
            <div class="flex justify-between">
                <p class="text-2xl font-bold" >{{product.brand}} {{product.name}}</p>
                <p class="text-2xl font-bold">{{product.price }} MAD</p>
            </div>
            <div>
                <p class="font-semibold text-xl text-justify">{{product.description}}</p>
            </div>
            <form action="{% url 'cart:add-to-cart' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{product.id}}" id="">
                <div class="w-full flex justify-center">
                    <button class=" py-3 w-1/2 bg-[#3e68e7] hover:bg-[#3051b3] rounded-xl text-xl text-white font-semibold">Add To Cart</button>
                </div>
            </form>
            
        </div>
        
    </div>
</div>
      
{% endblock  %} 
